templates/NiFi_Flow.json
{
  "flowContents": {
    "identifier": "151c0b25-92bc-3954-95c9-49fafae61e65",
    "instanceIdentifier": "09e9bcdc-0199-1000-b929-825aed29845b",
    "name": "NiFi Flow",
    "comments": "",
    "position": {
      "x": 0.0,
      "y": 0.0
    },
    "processGroups": [],
    "remoteProcessGroups": [],
    "processors": [
      {
        "identifier": "4c187dd1-c18b-32e7-b402-f4a49611cf02",
        "instanceIdentifier": "09eaef07-0199-1000-4cf9-0cf871ad8138",
        "name": "UpdateRecord",
        "comments": "",
        "position": {
          "x": 200.0,
          "y": -248.0
        },
        "type": "org.apache.nifi.processors.standard.UpdateRecord",
        "bundle": {
          "group": "org.apache.nifi",
          "artifact": "nifi-standard-nar",
          "version": "2.5.0"
        },
        "properties": {
          "/full_name": "concat(/first_name, ' ', /last_name)",
          "/email_address": "/email",
          "Record Writer": "16860c5b-af0b-3077-be31-c287e9abbf2a",
          "Record Reader": "f4e50ecf-792b-3b1e-9551-3b979feb990c",
          "/id": "/id",
          "Replacement Value Strategy": "record-path-value"
        },
        "propertyDescriptors": {
          "/full_name": {
            "name": "/full_name",
            "displayName": "/full_name",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": true
          },
          "/email_address": {
            "name": "/email_address",
            "displayName": "/email_address",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": true
          },
          "Record Writer": {
            "name": "Record Writer",
            "displayName": "Record Writer",
            "identifiesControllerService": true,
            "sensitive": false,
            "dynamic": false
          },
          "Record Reader": {
            "name": "Record Reader",
            "displayName": "Record Reader",
            "identifiesControllerService": true,
            "sensitive": false,
            "dynamic": false
          },
          "/id": {
            "name": "/id",
            "displayName": "/id",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": true
          },
          "Replacement Value Strategy": {
            "name": "Replacement Value Strategy",
            "displayName": "Replacement Value Strategy",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          }
        },
        "style": {},
        "schedulingPeriod": "0 sec",
        "schedulingStrategy": "TIMER_DRIVEN",
        "executionNode": "ALL",
        "penaltyDuration": "30 sec",
        "yieldDuration": "1 sec",
        "bulletinLevel": "WARN",
        "runDurationMillis": 0,
        "concurrentlySchedulableTaskCount": 1,
        "autoTerminatedRelationships": [],
        "scheduledState": "ENABLED",
        "retryCount": 10,
        "retriedRelationships": [],
        "backoffMechanism": "PENALIZE_FLOWFILE",
        "maxBackoffPeriod": "10 mins",
        "componentType": "PROCESSOR",
        "groupIdentifier": "151c0b25-92bc-3954-95c9-49fafae61e65"
      },
      {
        "identifier": "de1a812d-8d6c-3a80-8651-ba3abbe7d6d1",
        "instanceIdentifier": "09ead48a-0199-1000-ae1a-6f1a522199b2",
        "name": "QueryDatabaseTable",
        "comments": "",
        "position": {
          "x": 0.0,
          "y": -552.0
        },
        "type": "org.apache.nifi.processors.standard.QueryDatabaseTable",
        "bundle": {
          "group": "org.apache.nifi",
          "artifact": "nifi-standard-nar",
          "version": "2.5.0"
        },
        "properties": {
          "Table Name": "users",
          "db-fetch-db-type": "PostgreSQL",
          "dbf-default-precision": "10",
          "Set Auto Commit": null,
          "Max Wait Time": "0 seconds",
          "Database Connection Pooling Service": "f774cefd-bc59-3a2b-ae48-69d3d3d2857e",
          "Maximum-value Columns": null,
          "dbf-user-logical-types": "false",
          "qdbt-output-batch-size": "0",
          "qdbt-max-rows": "0",
          "qdbt-max-frags": "0",
          "dbf-default-scale": "0",
          "initial-load-strategy": "Start at Beginning",
          "Fetch Size": "0",
          "db-fetch-sql-query": null,
          "Columns to Return": null,
          "db-fetch-where-clause": null,
          "dbf-normalize": "false",
          "transaction-isolation-level": null,
          "Database Dialect Service": null
        },
        "propertyDescriptors": {
          "Table Name": {
            "name": "Table Name",
            "displayName": "Table Name",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "db-fetch-db-type": {
            "name": "db-fetch-db-type",
            "displayName": "Database Type",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "dbf-default-precision": {
            "name": "dbf-default-precision",
            "displayName": "Default Decimal Precision",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "Set Auto Commit": {
            "name": "Set Auto Commit",
            "displayName": "Set Auto Commit",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "Max Wait Time": {
            "name": "Max Wait Time",
            "displayName": "Max Wait Time",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "Database Connection Pooling Service": {
            "name": "Database Connection Pooling Service",
            "displayName": "Database Connection Pooling Service",
            "identifiesControllerService": true,
            "sensitive": false,
            "dynamic": false
          },
          "Maximum-value Columns": {
            "name": "Maximum-value Columns",
            "displayName": "Maximum-value Columns",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "dbf-user-logical-types": {
            "name": "dbf-user-logical-types",
            "displayName": "Use Avro Logical Types",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "qdbt-output-batch-size": {
            "name": "qdbt-output-batch-size",
            "displayName": "Output Batch Size",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "qdbt-max-rows": {
            "name": "qdbt-max-rows",
            "displayName": "Max Rows Per Flow File",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "qdbt-max-frags": {
            "name": "qdbt-max-frags",
            "displayName": "Maximum Number of Fragments",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "dbf-default-scale": {
            "name": "dbf-default-scale",
            "displayName": "Default Decimal Scale",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "initial-load-strategy": {
            "name": "initial-load-strategy",
            "displayName": "Initial Load Strategy",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "Fetch Size": {
            "name": "Fetch Size",
            "displayName": "Fetch Size",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "db-fetch-sql-query": {
            "name": "db-fetch-sql-query",
            "displayName": "Custom Query",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "Columns to Return": {
            "name": "Columns to Return",
            "displayName": "Columns to Return",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "db-fetch-where-clause": {
            "name": "db-fetch-where-clause",
            "displayName": "Additional WHERE clause",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "dbf-normalize": {
            "name": "dbf-normalize",
            "displayName": "Normalize Table/Column Names",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "transaction-isolation-level": {
            "name": "transaction-isolation-level",
            "displayName": "Transaction Isolation Level",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "Database Dialect Service": {
            "name": "Database Dialect Service",
            "displayName": "Database Dialect Service",
            "identifiesControllerService": true,
            "sensitive": false,
            "dynamic": false
          }
        },
        "style": {},
        "schedulingPeriod": "1 min",
        "schedulingStrategy": "TIMER_DRIVEN",
        "executionNode": "PRIMARY",
        "penaltyDuration": "30 sec",
        "yieldDuration": "1 sec",
        "bulletinLevel": "WARN",
        "runDurationMillis": 0,
        "concurrentlySchedulableTaskCount": 1,
        "autoTerminatedRelationships": [],
        "scheduledState": "ENABLED",
        "retryCount": 10,
        "retriedRelationships": [],
        "backoffMechanism": "PENALIZE_FLOWFILE",
        "maxBackoffPeriod": "10 mins",
        "componentType": "PROCESSOR",
        "groupIdentifier": "151c0b25-92bc-3954-95c9-49fafae61e65"
      },
      {
        "identifier": "c00c4a12-6dbe-3805-b1cb-82d4a7c19a00",
        "instanceIdentifier": "09eb0cb8-0199-1000-65cc-9236fb938fe4",
        "name": "PutDatabaseRecord",
        "comments": "",
        "position": {
          "x": 216.0,
          "y": 136.0
        },
        "type": "org.apache.nifi.processors.standard.PutDatabaseRecord",
        "bundle": {
          "group": "org.apache.nifi",
          "artifact": "nifi-standard-nar",
          "version": "2.5.0"
        },
        "properties": {
          "put-db-record-allow-multiple-statements": "false",
          "put-db-record-schema-name": null,
          "put-db-record-field-containing-sql": null,
          "put-db-record-unmatched-column-behavior": "Fail on Unmatched Columns",
          "Delete Keys": null,
          "put-db-record-catalog-name": null,
          "put-db-record-statement-type": "UPSERT",
          "put-db-record-update-keys": null,
          "put-db-record-quoted-identifiers": "false",
          "put-db-record-unmatched-field-behavior": "Ignore Unmatched Fields",
          "put-db-record-max-batch-size": "1000",
          "Database Dialect Service": null,
          "Data Record Path": null,
          "database-session-autocommit": "false",
          "table-schema-cache-size": "100",
          "put-db-record-quoted-table-identifiers": "false",
          "Statement Type Record Path": null,
          "Column Name Translation Pattern": null,
          "put-db-record-translate-field-names": "true",
          "put-db-record-dcbp-service": "c33b0fb0-56f4-3b6d-9797-49d790285d4e",
          "put-db-record-query-timeout": "0 seconds",
          "Column Name Translation Strategy": "REMOVE_UNDERSCORE",
          "rollback-on-failure": "false",
          "put-db-record-binary-format": "UTF-8",
          "db-type": "PostgreSQL",
          "put-db-record-table-name": "users",
          "put-db-record-record-reader": "c0e94c1b-6802-3dec-ac89-2dccb1fc112f"
        },
        "propertyDescriptors": {
          "put-db-record-allow-multiple-statements": {
            "name": "put-db-record-allow-multiple-statements",
            "displayName": "Allow Multiple SQL Statements",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "put-db-record-schema-name": {
            "name": "put-db-record-schema-name",
            "displayName": "Schema Name",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "put-db-record-field-containing-sql": {
            "name": "put-db-record-field-containing-sql",
            "displayName": "Field Containing SQL",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "put-db-record-unmatched-column-behavior": {
            "name": "put-db-record-unmatched-column-behavior",
            "displayName": "Unmatched Column Behavior",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "Delete Keys": {
            "name": "Delete Keys",
            "displayName": "Delete Keys",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "put-db-record-catalog-name": {
            "name": "put-db-record-catalog-name",
            "displayName": "Catalog Name",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "put-db-record-statement-type": {
            "name": "put-db-record-statement-type",
            "displayName": "Statement Type",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "put-db-record-update-keys": {
            "name": "put-db-record-update-keys",
            "displayName": "Update Keys",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "put-db-record-quoted-identifiers": {
            "name": "put-db-record-quoted-identifiers",
            "displayName": "Quote Column Identifiers",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "put-db-record-unmatched-field-behavior": {
            "name": "put-db-record-unmatched-field-behavior",
            "displayName": "Unmatched Field Behavior",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "put-db-record-max-batch-size": {
            "name": "put-db-record-max-batch-size",
            "displayName": "Maximum Batch Size",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "Database Dialect Service": {
            "name": "Database Dialect Service",
            "displayName": "Database Dialect Service",
            "identifiesControllerService": true,
            "sensitive": false,
            "dynamic": false
          },
          "Data Record Path": {
            "name": "Data Record Path",
            "displayName": "Data Record Path",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "database-session-autocommit": {
            "name": "database-session-autocommit",
            "displayName": "Database Session AutoCommit",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "table-schema-cache-size": {
            "name": "table-schema-cache-size",
            "displayName": "Table Schema Cache Size",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "put-db-record-quoted-table-identifiers": {
            "name": "put-db-record-quoted-table-identifiers",
            "displayName": "Quote Table Identifiers",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "Statement Type Record Path": {
            "name": "Statement Type Record Path",
            "displayName": "Statement Type Record Path",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "Column Name Translation Pattern": {
            "name": "Column Name Translation Pattern",
            "displayName": "Column Name Translation Pattern",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "put-db-record-translate-field-names": {
            "name": "put-db-record-translate-field-names",
            "displayName": "Translate Field Names",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "put-db-record-dcbp-service": {
            "name": "put-db-record-dcbp-service",
            "displayName": "Database Connection Pooling Service",
            "identifiesControllerService": true,
            "sensitive": false,
            "dynamic": false
          },
          "put-db-record-query-timeout": {
            "name": "put-db-record-query-timeout",
            "displayName": "Max Wait Time",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "Column Name Translation Strategy": {
            "name": "Column Name Translation Strategy",
            "displayName": "Column Name Translation Strategy",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "rollback-on-failure": {
            "name": "rollback-on-failure",
            "displayName": "Rollback On Failure",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "put-db-record-binary-format": {
            "name": "put-db-record-binary-format",
            "displayName": "Binary String Format",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "db-type": {
            "name": "db-type",
            "displayName": "Database Type",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "put-db-record-table-name": {
            "name": "put-db-record-table-name",
            "displayName": "Table Name",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "put-db-record-record-reader": {
            "name": "put-db-record-record-reader",
            "displayName": "Record Reader",
            "identifiesControllerService": true,
            "sensitive": false,
            "dynamic": false
          }
        },
        "style": {},
        "schedulingPeriod": "0 sec",
        "schedulingStrategy": "TIMER_DRIVEN",
        "executionNode": "ALL",
        "penaltyDuration": "30 sec",
        "yieldDuration": "1 sec",
        "bulletinLevel": "WARN",
        "runDurationMillis": 0,
        "concurrentlySchedulableTaskCount": 1,
        "autoTerminatedRelationships": [],
        "scheduledState": "ENABLED",
        "retryCount": 10,
        "retriedRelationships": [],
        "backoffMechanism": "PENALIZE_FLOWFILE",
        "maxBackoffPeriod": "10 mins",
        "componentType": "PROCESSOR",
        "groupIdentifier": "151c0b25-92bc-3954-95c9-49fafae61e65"
      },
      {
        "identifier": "74850fed-a4a4-3f71-a93d-90e2d246a462",
        "instanceIdentifier": "09eb3890-0199-1000-6214-60ae0bb12ef8",
        "name": "LogAttribute",
        "comments": "",
        "position": {
          "x": -464.0,
          "y": -264.0
        },
        "type": "org.apache.nifi.processors.standard.LogAttribute",
        "bundle": {
          "group": "org.apache.nifi",
          "artifact": "nifi-standard-nar",
          "version": "2.5.0"
        },
        "properties": {
          "Log prefix": null,
          "character-set": "UTF-8",
          "Log FlowFile Properties": "true",
          "Log Level": "info",
          "attributes-to-ignore-regex": null,
          "Attributes to Ignore": null,
          "Attributes to Log": null,
          "attributes-to-log-regex": ".*",
          "Output Format": "Line per Attribute",
          "Log Payload": "false"
        },
        "propertyDescriptors": {
          "Log prefix": {
            "name": "Log prefix",
            "displayName": "Log prefix",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "character-set": {
            "name": "character-set",
            "displayName": "Character Set",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "Log FlowFile Properties": {
            "name": "Log FlowFile Properties",
            "displayName": "Log FlowFile Properties",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "Log Level": {
            "name": "Log Level",
            "displayName": "Log Level",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "attributes-to-ignore-regex": {
            "name": "attributes-to-ignore-regex",
            "displayName": "Attributes to Ignore by Regular Expression",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "Attributes to Ignore": {
            "name": "Attributes to Ignore",
            "displayName": "Attributes to Ignore",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "Attributes to Log": {
            "name": "Attributes to Log",
            "displayName": "Attributes to Log",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "attributes-to-log-regex": {
            "name": "attributes-to-log-regex",
            "displayName": "Attributes to Log by Regular Expression",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "Output Format": {
            "name": "Output Format",
            "displayName": "Output Format",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "Log Payload": {
            "name": "Log Payload",
            "displayName": "Log Payload",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          }
        },
        "style": {},
        "schedulingPeriod": "0 sec",
        "schedulingStrategy": "TIMER_DRIVEN",
        "executionNode": "ALL",
        "penaltyDuration": "30 sec",
        "yieldDuration": "1 sec",
        "bulletinLevel": "WARN",
        "runDurationMillis": 25,
        "concurrentlySchedulableTaskCount": 1,
        "autoTerminatedRelationships": [],
        "scheduledState": "ENABLED",
        "retryCount": 10,
        "retriedRelationships": [],
        "backoffMechanism": "PENALIZE_FLOWFILE",
        "maxBackoffPeriod": "10 mins",
        "componentType": "PROCESSOR",
        "groupIdentifier": "151c0b25-92bc-3954-95c9-49fafae61e65"
      },
      {
        "identifier": "74caef03-8ee3-321c-bf3a-7c7888d078fe",
        "instanceIdentifier": "09eb4a24-0199-1000-57e1-daea8a7ec3eb",
        "name": "LogAttribute",
        "comments": "",
        "position": {
          "x": 688.0,
          "y": 392.0
        },
        "type": "org.apache.nifi.processors.standard.LogAttribute",
        "bundle": {
          "group": "org.apache.nifi",
          "artifact": "nifi-standard-nar",
          "version": "2.5.0"
        },
        "properties": {
          "Log prefix": null,
          "character-set": "UTF-8",
          "Log FlowFile Properties": "true",
          "Log Level": "info",
          "attributes-to-ignore-regex": null,
          "Attributes to Ignore": null,
          "Attributes to Log": null,
          "attributes-to-log-regex": ".*",
          "Output Format": "Line per Attribute",
          "Log Payload": "false"
        },
        "propertyDescriptors": {
          "Log prefix": {
            "name": "Log prefix",
            "displayName": "Log prefix",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "character-set": {
            "name": "character-set",
            "displayName": "Character Set",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "Log FlowFile Properties": {
            "name": "Log FlowFile Properties",
            "displayName": "Log FlowFile Properties",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "Log Level": {
            "name": "Log Level",
            "displayName": "Log Level",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "attributes-to-ignore-regex": {
            "name": "attributes-to-ignore-regex",
            "displayName": "Attributes to Ignore by Regular Expression",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "Attributes to Ignore": {
            "name": "Attributes to Ignore",
            "displayName": "Attributes to Ignore",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "Attributes to Log": {
            "name": "Attributes to Log",
            "displayName": "Attributes to Log",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "attributes-to-log-regex": {
            "name": "attributes-to-log-regex",
            "displayName": "Attributes to Log by Regular Expression",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "Output Format": {
            "name": "Output Format",
            "displayName": "Output Format",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "Log Payload": {
            "name": "Log Payload",
            "displayName": "Log Payload",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          }
        },
        "style": {},
        "schedulingPeriod": "0 sec",
        "schedulingStrategy": "TIMER_DRIVEN",
        "executionNode": "ALL",
        "penaltyDuration": "30 sec",
        "yieldDuration": "1 sec",
        "bulletinLevel": "WARN",
        "runDurationMillis": 25,
        "concurrentlySchedulableTaskCount": 1,
        "autoTerminatedRelationships": [],
        "scheduledState": "ENABLED",
        "retryCount": 10,
        "retriedRelationships": [],
        "backoffMechanism": "PENALIZE_FLOWFILE",
        "maxBackoffPeriod": "10 mins",
        "componentType": "PROCESSOR",
        "groupIdentifier": "151c0b25-92bc-3954-95c9-49fafae61e65"
      },
      {
        "identifier": "ee527685-eec5-3f48-bf6d-d70688577f4f",
        "instanceIdentifier": "09eb5922-0199-1000-4e07-2a7115a02e90",
        "name": "LogAttribute",
        "comments": "",
        "position": {
          "x": -235.0,
          "y": 347.0
        },
        "type": "org.apache.nifi.processors.standard.LogAttribute",
        "bundle": {
          "group": "org.apache.nifi",
          "artifact": "nifi-standard-nar",
          "version": "2.5.0"
        },
        "properties": {
          "Log prefix": null,
          "character-set": "UTF-8",
          "Log FlowFile Properties": "true",
          "Log Level": "info",
          "attributes-to-ignore-regex": null,
          "Attributes to Ignore": null,
          "Attributes to Log": null,
          "attributes-to-log-regex": ".*",
          "Output Format": "Line per Attribute",
          "Log Payload": "false"
        },
        "propertyDescriptors": {
          "Log prefix": {
            "name": "Log prefix",
            "displayName": "Log prefix",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "character-set": {
            "name": "character-set",
            "displayName": "Character Set",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "Log FlowFile Properties": {
            "name": "Log FlowFile Properties",
            "displayName": "Log FlowFile Properties",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "Log Level": {
            "name": "Log Level",
            "displayName": "Log Level",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "attributes-to-ignore-regex": {
            "name": "attributes-to-ignore-regex",
            "displayName": "Attributes to Ignore by Regular Expression",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "Attributes to Ignore": {
            "name": "Attributes to Ignore",
            "displayName": "Attributes to Ignore",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "Attributes to Log": {
            "name": "Attributes to Log",
            "displayName": "Attributes to Log",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "attributes-to-log-regex": {
            "name": "attributes-to-log-regex",
            "displayName": "Attributes to Log by Regular Expression",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "Output Format": {
            "name": "Output Format",
            "displayName": "Output Format",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "Log Payload": {
            "name": "Log Payload",
            "displayName": "Log Payload",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          }
        },
        "style": {},
        "schedulingPeriod": "0 sec",
        "schedulingStrategy": "TIMER_DRIVEN",
        "executionNode": "ALL",
        "penaltyDuration": "30 sec",
        "yieldDuration": "1 sec",
        "bulletinLevel": "WARN",
        "runDurationMillis": 25,
        "concurrentlySchedulableTaskCount": 1,
        "autoTerminatedRelationships": [],
        "scheduledState": "ENABLED",
        "retryCount": 10,
        "retriedRelationships": [],
        "backoffMechanism": "PENALIZE_FLOWFILE",
        "maxBackoffPeriod": "10 mins",
        "componentType": "PROCESSOR",
        "groupIdentifier": "151c0b25-92bc-3954-95c9-49fafae61e65"
      }
    ],
    "inputPorts": [],
    "outputPorts": [],
    "connections": [
      {
        "identifier": "7a2b2528-88de-3bb6-bc30-31238f0ad109",
        "instanceIdentifier": "09eb6bf1-0199-1000-37ce-6a0324d37c4d",
        "name": "",
        "source": {
          "id": "4c187dd1-c18b-32e7-b402-f4a49611cf02",
          "type": "PROCESSOR",
          "groupId": "151c0b25-92bc-3954-95c9-49fafae61e65",
          "name": "UpdateRecord",
          "comments": "",
          "instanceIdentifier": "09eaef07-0199-1000-4cf9-0cf871ad8138"
        },
        "destination": {
          "id": "c00c4a12-6dbe-3805-b1cb-82d4a7c19a00",
          "type": "PROCESSOR",
          "groupId": "151c0b25-92bc-3954-95c9-49fafae61e65",
          "name": "PutDatabaseRecord",
          "comments": "",
          "instanceIdentifier": "09eb0cb8-0199-1000-65cc-9236fb938fe4"
        },
        "labelIndex": 0,
        "zIndex": 2,
        "selectedRelationships": [
          "success"
        ],
        "backPressureObjectThreshold": 10000,
        "backPressureDataSizeThreshold": "1 GB",
        "flowFileExpiration": "0 sec",
        "prioritizers": [],
        "bends": [],
        "loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
        "partitioningAttribute": "",
        "loadBalanceCompression": "DO_NOT_COMPRESS",
        "componentType": "CONNECTION",
        "groupIdentifier": "151c0b25-92bc-3954-95c9-49fafae61e65"
      },
      {
        "identifier": "142ecf2d-e4b2-3825-9bac-18078fe659d5",
        "instanceIdentifier": "09eb243e-0199-1000-5750-a0a9d17e945e",
        "name": "",
        "source": {
          "id": "de1a812d-8d6c-3a80-8651-ba3abbe7d6d1",
          "type": "PROCESSOR",
          "groupId": "151c0b25-92bc-3954-95c9-49fafae61e65",
          "name": "QueryDatabaseTable",
          "comments": "",
          "instanceIdentifier": "09ead48a-0199-1000-ae1a-6f1a522199b2"
        },
        "destination": {
          "id": "4c187dd1-c18b-32e7-b402-f4a49611cf02",
          "type": "PROCESSOR",
          "groupId": "151c0b25-92bc-3954-95c9-49fafae61e65",
          "name": "UpdateRecord",
          "comments": "",
          "instanceIdentifier": "09eaef07-0199-1000-4cf9-0cf871ad8138"
        },
        "labelIndex": 0,
        "zIndex": 1,
        "selectedRelationships": [
          "success"
        ],
        "backPressureObjectThreshold": 10000,
        "backPressureDataSizeThreshold": "1 GB",
        "flowFileExpiration": "0 sec",
        "prioritizers": [],
        "bends": [],
        "loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
        "partitioningAttribute": "",
        "loadBalanceCompression": "DO_NOT_COMPRESS",
        "componentType": "CONNECTION",
        "groupIdentifier": "151c0b25-92bc-3954-95c9-49fafae61e65"
      },
      {
        "identifier": "45a28493-4f13-309b-9dad-b10831a04715",
        "instanceIdentifier": "09eb7c51-0199-1000-b183-4dbf665ef72c",
        "name": "",
        "source": {
          "id": "4c187dd1-c18b-32e7-b402-f4a49611cf02",
          "type": "PROCESSOR",
          "groupId": "151c0b25-92bc-3954-95c9-49fafae61e65",
          "name": "UpdateRecord",
          "comments": "",
          "instanceIdentifier": "09eaef07-0199-1000-4cf9-0cf871ad8138"
        },
        "destination": {
          "id": "74850fed-a4a4-3f71-a93d-90e2d246a462",
          "type": "PROCESSOR",
          "groupId": "151c0b25-92bc-3954-95c9-49fafae61e65",
          "name": "LogAttribute",
          "comments": "",
          "instanceIdentifier": "09eb3890-0199-1000-6214-60ae0bb12ef8"
        },
        "labelIndex": 0,
        "zIndex": 3,
        "selectedRelationships": [
          "failure"
        ],
        "backPressureObjectThreshold": 10000,
        "backPressureDataSizeThreshold": "1 GB",
        "flowFileExpiration": "0 sec",
        "prioritizers": [],
        "bends": [],
        "loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
        "partitioningAttribute": "",
        "loadBalanceCompression": "DO_NOT_COMPRESS",
        "componentType": "CONNECTION",
        "groupIdentifier": "151c0b25-92bc-3954-95c9-49fafae61e65"
      },
      {
        "identifier": "6aa3e4c0-3563-3250-9b98-3894c3b46311",
        "instanceIdentifier": "09ebd9ef-0199-1000-7aab-77aa35ddf1fb",
        "name": "",
        "source": {
          "id": "c00c4a12-6dbe-3805-b1cb-82d4a7c19a00",
          "type": "PROCESSOR",
          "groupId": "151c0b25-92bc-3954-95c9-49fafae61e65",
          "name": "PutDatabaseRecord",
          "comments": "",
          "instanceIdentifier": "09eb0cb8-0199-1000-65cc-9236fb938fe4"
        },
        "destination": {
          "id": "74caef03-8ee3-321c-bf3a-7c7888d078fe",
          "type": "PROCESSOR",
          "groupId": "151c0b25-92bc-3954-95c9-49fafae61e65",
          "name": "LogAttribute",
          "comments": "",
          "instanceIdentifier": "09eb4a24-0199-1000-57e1-daea8a7ec3eb"
        },
        "labelIndex": 0,
        "zIndex": 5,
        "selectedRelationships": [
          "success"
        ],
        "backPressureObjectThreshold": 10000,
        "backPressureDataSizeThreshold": "1 GB",
        "flowFileExpiration": "0 sec",
        "prioritizers": [],
        "bends": [],
        "loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
        "partitioningAttribute": "",
        "loadBalanceCompression": "DO_NOT_COMPRESS",
        "componentType": "CONNECTION",
        "groupIdentifier": "151c0b25-92bc-3954-95c9-49fafae61e65"
      },
      {
        "identifier": "df49efcc-f735-3394-a64f-4a8f20a9a5ca",
        "instanceIdentifier": "09ebcc2f-0199-1000-da4e-1025ba227f89",
        "name": "",
        "source": {
          "id": "c00c4a12-6dbe-3805-b1cb-82d4a7c19a00",
          "type": "PROCESSOR",
          "groupId": "151c0b25-92bc-3954-95c9-49fafae61e65",
          "name": "PutDatabaseRecord",
          "comments": "",
          "instanceIdentifier": "09eb0cb8-0199-1000-65cc-9236fb938fe4"
        },
        "destination": {
          "id": "ee527685-eec5-3f48-bf6d-d70688577f4f",
          "type": "PROCESSOR",
          "groupId": "151c0b25-92bc-3954-95c9-49fafae61e65",
          "name": "LogAttribute",
          "comments": "",
          "instanceIdentifier": "09eb5922-0199-1000-4e07-2a7115a02e90"
        },
        "labelIndex": 0,
        "zIndex": 4,
        "selectedRelationships": [
          "failure",
          "retry"
        ],
        "backPressureObjectThreshold": 10000,
        "backPressureDataSizeThreshold": "1 GB",
        "flowFileExpiration": "0 sec",
        "prioritizers": [],
        "bends": [],
        "loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
        "partitioningAttribute": "",
        "loadBalanceCompression": "DO_NOT_COMPRESS",
        "componentType": "CONNECTION",
        "groupIdentifier": "151c0b25-92bc-3954-95c9-49fafae61e65"
      }
    ],
    "labels": [],
    "funnels": [],
    "controllerServices": [
      {
        "identifier": "c0e94c1b-6802-3dec-ac89-2dccb1fc112f",
        "instanceIdentifier": "09f5edad-0199-1000-80d3-60ef27bdadf4",
        "name": "DestinationAvroReader",
        "comments": "",
        "type": "org.apache.nifi.avro.AvroReader",
        "bundle": {
          "group": "org.apache.nifi",
          "artifact": "nifi-record-serialization-services-nar",
          "version": "2.5.0"
        },
        "properties": {
          "schema-reference-reader": null,
          "schema-branch": null,
          "schema-name": "destination",
          "cache-size": "1000",
          "schema-registry": "53a165bb-366b-3cf5-9b07-0258887a6779",
          "schema-access-strategy": "schema-name",
          "schema-version": null,
          "schema-text": "${avro.schema}"
        },
        "propertyDescriptors": {
          "schema-reference-reader": {
            "name": "schema-reference-reader",
            "displayName": "Schema Reference Reader",
            "identifiesControllerService": true,
            "sensitive": false,
            "dynamic": false
          },
          "schema-branch": {
            "name": "schema-branch",
            "displayName": "Schema Branch",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "schema-name": {
            "name": "schema-name",
            "displayName": "Schema Name",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "cache-size": {
            "name": "cache-size",
            "displayName": "Cache Size",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "schema-registry": {
            "name": "schema-registry",
            "displayName": "Schema Registry",
            "identifiesControllerService": true,
            "sensitive": false,
            "dynamic": false
          },
          "schema-access-strategy": {
            "name": "schema-access-strategy",
            "displayName": "Schema Access Strategy",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "schema-version": {
            "name": "schema-version",
            "displayName": "Schema Version",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "schema-text": {
            "name": "schema-text",
            "displayName": "Schema Text",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          }
        },
        "controllerServiceApis": [
          {
            "type": "org.apache.nifi.serialization.RecordReaderFactory",
            "bundle": {
              "group": "org.apache.nifi",
              "artifact": "nifi-standard-services-api-nar",
              "version": "2.5.0"
            }
          }
        ],
        "scheduledState": "DISABLED",
        "bulletinLevel": "WARN",
        "componentType": "CONTROLLER_SERVICE",
        "groupIdentifier": "151c0b25-92bc-3954-95c9-49fafae61e65"
      },
      {
        "identifier": "f774cefd-bc59-3a2b-ae48-69d3d3d2857e",
        "instanceIdentifier": "09ecf849-0199-1000-e431-a6cfac717325",
        "name": "SourceDBCPConnectionPool",
        "comments": "",
        "type": "org.apache.nifi.dbcp.DBCPConnectionPool",
        "bundle": {
          "group": "org.apache.nifi",
          "artifact": "nifi-dbcp-service-nar",
          "version": "2.5.0"
        },
        "properties": {
          "dbcp-min-idle-conns": "0",
          "Max Wait Time": "500 millis",
          "Database Driver Class Name": "org.postgresql.Driver",
          "dbcp-min-evictable-idle-time": "30 mins",
          "Max Total Connections": "8",
          "dbcp-max-conn-lifetime": "-1",
          "Validation-query": "SELECT 1",
          "Database Connection URL": "jdbc:postgresql://nifi-demo-source-db-1:5432/sourcedb",
          "dbcp-time-between-eviction-runs": "-1",
          "Database User": "postgres",
          "kerberos-user-service": null,
          "dbcp-soft-min-evictable-idle-time": "-1",
          "database-driver-locations": "/driver",
          "dbcp-max-idle-conns": "8"
        },
        "propertyDescriptors": {
          "dbcp-min-idle-conns": {
            "name": "dbcp-min-idle-conns",
            "displayName": "Minimum Idle Connections",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "Max Wait Time": {
            "name": "Max Wait Time",
            "displayName": "Max Wait Time",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "Database Driver Class Name": {
            "name": "Database Driver Class Name",
            "displayName": "Database Driver Class Name",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "dbcp-min-evictable-idle-time": {
            "name": "dbcp-min-evictable-idle-time",
            "displayName": "Minimum Evictable Idle Time",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "Max Total Connections": {
            "name": "Max Total Connections",
            "displayName": "Max Total Connections",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "dbcp-max-conn-lifetime": {
            "name": "dbcp-max-conn-lifetime",
            "displayName": "Max Connection Lifetime",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "Validation-query": {
            "name": "Validation-query",
            "displayName": "Validation query",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "Database Connection URL": {
            "name": "Database Connection URL",
            "displayName": "Database Connection URL",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "dbcp-time-between-eviction-runs": {
            "name": "dbcp-time-between-eviction-runs",
            "displayName": "Time Between Eviction Runs",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "Database User": {
            "name": "Database User",
            "displayName": "Database User",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "kerberos-user-service": {
            "name": "kerberos-user-service",
            "displayName": "Kerberos User Service",
            "identifiesControllerService": true,
            "sensitive": false,
            "dynamic": false
          },
          "dbcp-soft-min-evictable-idle-time": {
            "name": "dbcp-soft-min-evictable-idle-time",
            "displayName": "Soft Minimum Evictable Idle Time",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "database-driver-locations": {
            "name": "database-driver-locations",
            "displayName": "Database Driver Location(s)",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false,
            "resourceDefinition": {
              "cardinality": "MULTIPLE",
              "resourceTypes": [
                "DIRECTORY",
                "FILE",
                "URL"
              ]
            }
          },
          "dbcp-max-idle-conns": {
            "name": "dbcp-max-idle-conns",
            "displayName": "Max Idle Connections",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "Password": {
            "name": "Password",
            "displayName": "Password",
            "identifiesControllerService": false,
            "sensitive": true,
            "dynamic": false
          }
        },
        "controllerServiceApis": [
          {
            "type": "org.apache.nifi.dbcp.DBCPService",
            "bundle": {
              "group": "org.apache.nifi",
              "artifact": "nifi-standard-services-api-nar",
              "version": "2.5.0"
            }
          }
        ],
        "scheduledState": "DISABLED",
        "bulletinLevel": "WARN",
        "componentType": "CONTROLLER_SERVICE",
        "groupIdentifier": "151c0b25-92bc-3954-95c9-49fafae61e65"
      },
      {
        "identifier": "16860c5b-af0b-3077-be31-c287e9abbf2a",
        "instanceIdentifier": "09f01496-0199-1000-abf6-4a60be163c8f",
        "name": "DestinationAvroRecordSetWriter",
        "comments": "",
        "type": "org.apache.nifi.avro.AvroRecordSetWriter",
        "bundle": {
          "group": "org.apache.nifi",
          "artifact": "nifi-record-serialization-services-nar",
          "version": "2.5.0"
        },
        "properties": {
          "schema-reference-reader": null,
          "schema-branch": null,
          "schema-cache": null,
          "compression-format": "NONE",
          "Schema Write Strategy": "avro-embedded",
          "schema-name": "destination",
          "cache-size": "1000",
          "schema-registry": "53a165bb-366b-3cf5-9b07-0258887a6779",
          "schema-access-strategy": "schema-name",
          "schema-version": null,
          "encoder-pool-size": "32",
          "schema-text": "${avro.schema}",
          "Schema Reference Writer": null
        },
        "propertyDescriptors": {
          "schema-reference-reader": {
            "name": "schema-reference-reader",
            "displayName": "Schema Reference Reader",
            "identifiesControllerService": true,
            "sensitive": false,
            "dynamic": false
          },
          "schema-branch": {
            "name": "schema-branch",
            "displayName": "Schema Branch",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "schema-cache": {
            "name": "schema-cache",
            "displayName": "Schema Cache",
            "identifiesControllerService": true,
            "sensitive": false,
            "dynamic": false
          },
          "compression-format": {
            "name": "compression-format",
            "displayName": "Compression Format",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "Schema Write Strategy": {
            "name": "Schema Write Strategy",
            "displayName": "Schema Write Strategy",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "schema-name": {
            "name": "schema-name",
            "displayName": "Schema Name",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "cache-size": {
            "name": "cache-size",
            "displayName": "Cache Size",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "schema-registry": {
            "name": "schema-registry",
            "displayName": "Schema Registry",
            "identifiesControllerService": true,
            "sensitive": false,
            "dynamic": false
          },
          "schema-access-strategy": {
            "name": "schema-access-strategy",
            "displayName": "Schema Access Strategy",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "schema-version": {
            "name": "schema-version",
            "displayName": "Schema Version",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "encoder-pool-size": {
            "name": "encoder-pool-size",
            "displayName": "Encoder Pool Size",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "schema-text": {
            "name": "schema-text",
            "displayName": "Schema Text",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "Schema Reference Writer": {
            "name": "Schema Reference Writer",
            "displayName": "Schema Reference Writer",
            "identifiesControllerService": true,
            "sensitive": false,
            "dynamic": false
          }
        },
        "controllerServiceApis": [
          {
            "type": "org.apache.nifi.serialization.RecordSetWriterFactory",
            "bundle": {
              "group": "org.apache.nifi",
              "artifact": "nifi-standard-services-api-nar",
              "version": "2.5.0"
            }
          }
        ],
        "scheduledState": "DISABLED",
        "bulletinLevel": "WARN",
        "componentType": "CONTROLLER_SERVICE",
        "groupIdentifier": "151c0b25-92bc-3954-95c9-49fafae61e65"
      },
      {
        "identifier": "c33b0fb0-56f4-3b6d-9797-49d790285d4e",
        "instanceIdentifier": "09f74101-0199-1000-b6bd-bb957a581364",
        "name": "DestinationDBCPConnectionPool",
        "comments": "",
        "type": "org.apache.nifi.dbcp.DBCPConnectionPool",
        "bundle": {
          "group": "org.apache.nifi",
          "artifact": "nifi-dbcp-service-nar",
          "version": "2.5.0"
        },
        "properties": {
          "dbcp-min-idle-conns": "0",
          "Max Wait Time": "500 millis",
          "Database Driver Class Name": "org.postgresql.Driver",
          "dbcp-min-evictable-idle-time": "30 mins",
          "Max Total Connections": "8",
          "dbcp-max-conn-lifetime": "-1",
          "Validation-query": "SELECT 1",
          "Database Connection URL": "jdbc:postgresql://nifi-demo-destination-db-1:5432/destdb",
          "dbcp-time-between-eviction-runs": "-1",
          "Database User": "postgres",
          "kerberos-user-service": null,
          "dbcp-soft-min-evictable-idle-time": "-1",
          "database-driver-locations": "/driver",
          "dbcp-max-idle-conns": "8"
        },
        "propertyDescriptors": {
          "dbcp-min-idle-conns": {
            "name": "dbcp-min-idle-conns",
            "displayName": "Minimum Idle Connections",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "Max Wait Time": {
            "name": "Max Wait Time",
            "displayName": "Max Wait Time",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "Database Driver Class Name": {
            "name": "Database Driver Class Name",
            "displayName": "Database Driver Class Name",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "dbcp-min-evictable-idle-time": {
            "name": "dbcp-min-evictable-idle-time",
            "displayName": "Minimum Evictable Idle Time",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "Max Total Connections": {
            "name": "Max Total Connections",
            "displayName": "Max Total Connections",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "dbcp-max-conn-lifetime": {
            "name": "dbcp-max-conn-lifetime",
            "displayName": "Max Connection Lifetime",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "Validation-query": {
            "name": "Validation-query",
            "displayName": "Validation query",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "Database Connection URL": {
            "name": "Database Connection URL",
            "displayName": "Database Connection URL",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "dbcp-time-between-eviction-runs": {
            "name": "dbcp-time-between-eviction-runs",
            "displayName": "Time Between Eviction Runs",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "Database User": {
            "name": "Database User",
            "displayName": "Database User",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "kerberos-user-service": {
            "name": "kerberos-user-service",
            "displayName": "Kerberos User Service",
            "identifiesControllerService": true,
            "sensitive": false,
            "dynamic": false
          },
          "dbcp-soft-min-evictable-idle-time": {
            "name": "dbcp-soft-min-evictable-idle-time",
            "displayName": "Soft Minimum Evictable Idle Time",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "database-driver-locations": {
            "name": "database-driver-locations",
            "displayName": "Database Driver Location(s)",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false,
            "resourceDefinition": {
              "cardinality": "MULTIPLE",
              "resourceTypes": [
                "DIRECTORY",
                "FILE",
                "URL"
              ]
            }
          },
          "dbcp-max-idle-conns": {
            "name": "dbcp-max-idle-conns",
            "displayName": "Max Idle Connections",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "Password": {
            "name": "Password",
            "displayName": "Password",
            "identifiesControllerService": false,
            "sensitive": true,
            "dynamic": false
          }
        },
        "controllerServiceApis": [
          {
            "type": "org.apache.nifi.dbcp.DBCPService",
            "bundle": {
              "group": "org.apache.nifi",
              "artifact": "nifi-standard-services-api-nar",
              "version": "2.5.0"
            }
          }
        ],
        "scheduledState": "DISABLED",
        "bulletinLevel": "WARN",
        "componentType": "CONTROLLER_SERVICE",
        "groupIdentifier": "151c0b25-92bc-3954-95c9-49fafae61e65"
      },
      {
        "identifier": "f4e50ecf-792b-3b1e-9551-3b979feb990c",
        "instanceIdentifier": "09eff19f-0199-1000-1214-57f47665f3d4",
        "name": "SourceAvroReader",
        "comments": "",
        "type": "org.apache.nifi.avro.AvroReader",
        "bundle": {
          "group": "org.apache.nifi",
          "artifact": "nifi-record-serialization-services-nar",
          "version": "2.5.0"
        },
        "properties": {
          "schema-reference-reader": null,
          "schema-branch": null,
          "schema-name": "source",
          "cache-size": "1000",
          "schema-registry": "53a165bb-366b-3cf5-9b07-0258887a6779",
          "schema-access-strategy": "embedded-avro-schema",
          "schema-version": null,
          "schema-text": "${avro.schema}"
        },
        "propertyDescriptors": {
          "schema-reference-reader": {
            "name": "schema-reference-reader",
            "displayName": "Schema Reference Reader",
            "identifiesControllerService": true,
            "sensitive": false,
            "dynamic": false
          },
          "schema-branch": {
            "name": "schema-branch",
            "displayName": "Schema Branch",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "schema-name": {
            "name": "schema-name",
            "displayName": "Schema Name",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "cache-size": {
            "name": "cache-size",
            "displayName": "Cache Size",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "schema-registry": {
            "name": "schema-registry",
            "displayName": "Schema Registry",
            "identifiesControllerService": true,
            "sensitive": false,
            "dynamic": false
          },
          "schema-access-strategy": {
            "name": "schema-access-strategy",
            "displayName": "Schema Access Strategy",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "schema-version": {
            "name": "schema-version",
            "displayName": "Schema Version",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "schema-text": {
            "name": "schema-text",
            "displayName": "Schema Text",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          }
        },
        "controllerServiceApis": [
          {
            "type": "org.apache.nifi.serialization.RecordReaderFactory",
            "bundle": {
              "group": "org.apache.nifi",
              "artifact": "nifi-standard-services-api-nar",
              "version": "2.5.0"
            }
          }
        ],
        "scheduledState": "DISABLED",
        "bulletinLevel": "WARN",
        "componentType": "CONTROLLER_SERVICE",
        "groupIdentifier": "151c0b25-92bc-3954-95c9-49fafae61e65"
      },
      {
        "identifier": "53a165bb-366b-3cf5-9b07-0258887a6779",
        "instanceIdentifier": "09f11117-0199-1000-8f17-95967447675c",
        "name": "AvroSchemaRegistry",
        "comments": "",
        "type": "org.apache.nifi.schemaregistry.services.AvroSchemaRegistry",
        "bundle": {
          "group": "org.apache.nifi",
          "artifact": "nifi-registry-nar",
          "version": "2.5.0"
        },
        "properties": {
          "avro-reg-validated-field-names": "true",
          "destination": "{\n  \"type\": \"record\",\n  \"name\": \"DestUser\",\n  \"namespace\": \"com.example\",\n  \"fields\": [\n    {\"name\": \"id\", \"type\": \"string\"},\n    {\"name\": \"full_name\", \"type\": \"string\"},\n    {\"name\": \"email_address\", \"type\": \"string\"}\n  ]\n}",
          "source": "{\n  \"type\": \"record\",\n  \"name\": \"SourceUser\",\n  \"namespace\": \"com.example\",\n  \"fields\": [\n    {\"name\": \"id\", \"type\": \"string\"},\n    {\"name\": \"first_name\", \"type\": \"string\"},\n    {\"name\": \"last_name\", \"type\": \"string\"},\n    {\"name\": \"email\", \"type\": \"string\"}\n  ]\n}"
        },
        "propertyDescriptors": {
          "avro-reg-validated-field-names": {
            "name": "avro-reg-validated-field-names",
            "displayName": "Validate Field Names",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "destination": {
            "name": "destination",
            "displayName": "destination",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": true
          },
          "source": {
            "name": "source",
            "displayName": "source",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": true
          }
        },
        "controllerServiceApis": [
          {
            "type": "org.apache.nifi.schemaregistry.services.SchemaRegistry",
            "bundle": {
              "group": "org.apache.nifi",
              "artifact": "nifi-standard-services-api-nar",
              "version": "2.5.0"
            }
          }
        ],
        "scheduledState": "DISABLED",
        "bulletinLevel": "WARN",
        "componentType": "CONTROLLER_SERVICE",
        "groupIdentifier": "151c0b25-92bc-3954-95c9-49fafae61e65"
      }
    ],
    "defaultFlowFileExpiration": "0 sec",
    "defaultBackPressureObjectThreshold": 10000,
    "defaultBackPressureDataSizeThreshold": "1 GB",
    "scheduledState": "ENABLED",
    "executionEngine": "INHERITED",
    "maxConcurrentTasks": 1,
    "statelessFlowTimeout": "1 min",
    "flowFileConcurrency": "UNBOUNDED",
    "flowFileOutboundPolicy": "STREAM_WHEN_AVAILABLE",
    "componentType": "PROCESS_GROUP"
  },
  "externalControllerServices": {},
  "parameterContexts": {},
  "flowEncodingVersion": "1.0",
  "parameterProviders": {},
  "latest": false
}